<h1 class="title">
  <%= @theme.name %>
</h1>

<div class="row">
  <div class="col-md-3 text-center">
    <p><%= image_tag(@theme.image, :size => "270x270") %></p>
    <%= link_to 'Get This Box', new_theme_box_path(@theme) %>
  </div>
  <div class="col-md-4 summary">
    <p>
      <%= @theme.description %>
    </p>
  </div>
</div>

