<img src="/assets/<%= @stylist.image %>" width="200">
<h3> <%= @stylist.first_name %></h3>

<br>
<h4><i><b>Happy customers of <%= @stylist.first_name %>:</b></i></h4>

<% @users.each do |user| %>
	 	<p><%= user.first_name %></p>
<% end %>
